/* =================================== */
/* === SIDE NAVIGATION BUTTONS === */
/* =================================== */

.side-nav-button {
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1020;
    width: 35px;
    height: 350px;
    background-color: rgba(30, 41, 59, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #cbd5e1;
    font-size: 2.5rem;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 0.75rem;
    padding: 0;
    line-height: 95px;
    text-align: center;
}
.side-nav-button:hover {
    background-color: rgba(51, 65, 85, 0.9);
    transform: translateY(-50%) scale(1.05);
}
#side-nav-left {
    left: 1.1rem;
}
#side-nav-right {
    right: 1.1rem;
}

@media (min-width: 1080px) and (orientation: portrait) {
    .portrait-view.schedule-selected .side-nav-button,
    .portrait-view.consultation-mode .side-nav-button {
        display: block;
    }
}

.legend-item > span {
    margin-left: 0.8rem;
}