<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Расписание</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% include '_portrait_view.html' %}

    {% include '_landscape_view.html' %}

    <div id="help-modal" class="modal-overlay" style="display: none;">
      <div class="modal-content">
          <button id="close-modal" class="modal-close">&times;</button>
          <h2>Подсказка</h2>
          <p>
              Ваш выбор класса и параллели сохраняется автоматически. Когда вы откроете сайт в
              следующий раз, расписание для выбранного класса загрузится сразу.
          </p>
          <p>
              Кнопка "Сброс" очищает сохраненный выбор.
          </p>
          <hr>
          <h2>Обозначения уроков:</h2>
          <div class="legend">
              <div class="legend-item">
                  <div class="legend-color-box current"></div> — <span>текущий урок</span>
              </div>
              <div class="legend-item">
                  <div class="legend-color-box next"></div> — <span>следующий урок</span>
              </div>
          </div>
      </div>
  </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
        window.APP_DATA = {
            activeDayName: '{{ active_day_name }}',
            currentTime: '{{ current_time }}',
            refreshInterval: {{ refresh_interval }},
            scheduleName: '{{ current_schedule_name }}'
        };
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

